.customers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.637);
    border: 0.3em solid goldenrod;
    width: 85%;
    margin: auto;
  }
  
  .customer {
      flex-basis: 28%;
      /* margin: 1em; */
      padding: 1em;
      background-color: whitesmoke;
  }

  h2 {
      background-color: whitesmoke;
      padding: 0.5em;
      border: 0.2em solid goldenrod;
  }