.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 0.3em solid goldenrod;
  background-color: whitesmoke;
  text-align: center;
}

.product__info {
  margin-bottom: 1em;
}
