.myOrder {
    display: flex;
    flex-direction: column;
    border: solid goldenrod 0.2em;
    width: 60%;
    margin: auto;
}

.order__header {
    display: flex;
    flex-direction: row;
}

.customerCandy {
    display: flex;
    flex-direction: row;
    border-top: solid goldenrod 0.2em; 
}

.detail {
    flex-basis: 33%;
    padding: 1em 0.5em;
}