.employees {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.employee {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 0.3em solid goldenrod;
  background-color: whitesmoke;
}

.employee__info {
  margin-bottom: 1em;
}

.newEmployee__button {
    display: block;
    margin: auto;
}

.employeeForm {
  display: block;
  margin: auto;
  padding: 1rem;
  width: 90%;
  background-color: rgba(245, 245, 245, 0.637);
}

.form-control {
  background-color: whitesmoke;
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

fieldset {
    border: 0;
}