.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    justify-content: space-between;
    padding: 1rem;
    background-color: whitesmoke;
    margin-bottom: 0;
}

.navbar__item {
    list-style-type: none;
    margin: 0 0.2em;
}

h2 {
    text-align: center;
    margin: 1.5em;
}